#canvas {
  position: absolute;
}

.bucket {
}

#header {
  position:absolute;
}

.navLink {
  margin-left:0px;
  margin-right:10px;
  padding:5px 10px 5px 10px;
  border-radius: 5px;
}

.navSelected {
  font-weight: bold;
  text-decoration: underline;
}

.navLink:hover {
  cursor:pointer;
  background-color: #dddddd;
}

.contentBox {
  position:absolute;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  opacity:1;
}

#whiteScreen {
  background-color:white;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}

.fillBox {
  width:100%;
  height:100%;
}


/*  ### INDIVIDUAL BOX CSS ### */

.title {
  text-align: center;
  background: @graybg;
}

.t_top {
  background-color: @purpleLight;
  height: ((@boxHeight + (@boxHeight / 2) + (@padding / 2)) - @titlePadding);
  margin-bottom: @padding;
  text-align: center;
  padding-top: @titlePadding;
  .transition-duration(@transitionDuration);
  h2 {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
  }
}

.t_top:hover {
  background: #AC9CDF
}

.previous {
  float:left;
  background-color: @grayLight;
  height: (((@boxHeight / 2) - (@padding / 2)) - @borderHeight);
  width: @boxHeight;
  border-bottom: solid @grayDark @borderHeight;
  color: #606060;
  .transition-duration(@transitionDuration);
}

.previous:hover {
  background-color: @orangeLight;
  border-bottom: solid @borderHeight @orangeLightBorder;
  color: #ffffff;
  //.transition-duration(@transitionDuration);
  //.transition(~"all 1s ease-in-out");
}

.next {
  float:right;
  background: @grayLight;
  height: (((@boxHeight / 2) - (@padding / 2)) - @borderHeight);
  width: @boxHeight;
  border-bottom: solid @grayDark @borderHeight;
  color: #606060;
  .transition-duration(@transitionDuration);
}

.next:hover {
  background-color: @blueLight;
  border-bottom: solid @borderHeight @blueLightBorder;
  color: #ffffff;
}


.t_bottom {
  height: ((@boxHeight / 2) - (@padding / 2));
  font-size: @bodyFontSize;
}

.u1_top {
  background-color: @purpleLightest;
  background-position-y: 0;
  height: (@boxHeight - @borderHeight);
  background-image: url('../img/preview-button.png');
  border-bottom: solid @purpleLight @borderHeight;
  .transition-duration(@transitionDuration);
}

.u1_top:hover {
  background-color: @orangeLight;
  border-bottom: solid @orangeLightBorder @borderHeight;
  background-position-y: 96px;
}

.u1_bottom {
  background-color: @purpleLight;
  height: @borderHeight;
}

.u2_top {
  background-color: @blue;
  height: (@boxHeight - @borderHeight);
  background-image: url('../img/download-button.png');
}

.u2_bottom {
  background-color: @blueBorder;
  height: @borderHeight;
}

.d_top {
  background: @grayDark;
  height: (@boxHeight - @grayBotSize);
  color: #eeeeee;
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  line-height: 88px;
  overflow: hidden;
  .transition(~"all 600ms ease-in-out");
}

.d_bottom {
  background-color: @grayLight;
  height: @grayBotSize;
  color: #606060;
  font-weight: 200;
  font-size: @bodyFontSize;
  text-align: center;
  line-height: 20px;
  p {margin:0;
  .transition(~"all 600ms ease-in-out");}
  overflow: hidden;
  .transition(~"all 600ms ease-in-out");
}

.r1_top {
  background-color: @btpurple;
  height: ( ( (@boxHeight * 2) - (@borderHeight+(@boxPadding * 2)))+ @padding);
  color: #ffffff;
  padding: @boxPadding 10px @boxPadding @boxPadding;
  font-size: 13px;
  line-height: 17px;
  .transition-duration(@transitionDuration);
  p {margin:2px 0;}
}

.r1_top:hover {
  background-color: #887daa;
}
.r1_bottom {
  background-color: @purpleDark;
  height: @borderHeight;
}

.r2_top {
  background-color: @purpleLight;
  height: ( ( (@boxHeight * 2) - (@grayBotSize + (@boxPadding * 2)))+ @padding);
  color: #ffffff;
  padding: @boxPadding;
  line-height: 27px;
  font-size: 19px;
  background: url('../img/quote-sprite-all.png') no-repeat;
  .transition(~"all 600ms ease-in-out");
  p {
    margin: 0;
    .transition(~"all 600ms ease-in-out");
  }
  span {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background: url('../img/quote-sprite-all.png') no-repeat;
    height: 176px;
    opacity: 0;
    .transition(~"opacity 600ms ease-in-out");
  }
}

.r2_top:hover {
  p {opacity: .3;}
  span {opacity: 1;}
}


.r2_bottom {
  background-color: @purpleLight;
  height: @grayBotSize;
  p {margin: 0;}
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  padding: 0 @boxPadding;
}

.b_top {
  background-color: @purpleDark;
  //height: ( ( (@boxHeight * 3) - (@largeBotSize + (@boxPadding * 2)))+ (@padding * 2));;
  height: 196px;
  padding: 0;
  color: #ffffff;
  p {
    font-size: @bodyFontSize;
    margin: 0;
  }
  h2 {
    font-weight: 400;
    color: #cccccc;
    line-height: 20px;
  }
}

.b_bottom {
  background-color: @purpleGraphInfo;
  height: @largeBotSize;
}


.long_2, .double{
  span {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background: @blue;
    height: 90px;
    opacity: 0;
    .transition(~"opacity 600ms ease-in-out");
    text-align: center;
    overflow: hidden;
  }
  h1 {
    font-weight: 300;
    color: #ffffff;
    display:inline;
    .transition(~"all 600ms ease-in-out");
    position: absolute;
    top: -80px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 27px 0;
  }
}

.d_top.download, .d_top.double {
  line-height: 88px;
  .transition(~"all 600ms ease-in-out");
}




div.long_2:hover .d_top.download, 
div.double:hover .d_top.download, {
  background-color: @blue;
  height: 90px;
  line-height: 200px;  
}

.long_2:hover h1 , .double:hover h1{
    top: 0;
}

div.long_2:hover .d_bottom.download, 
div.double:hover .d_bottom.download {
  background-color: @blueBorder;
  height: 6px;
  p {
    opacity: 0;
    line-height: 55px;
    .transition(~"all 600ms ease-in-out");
  }
}

.long_2:hover, 
.double:hover{
  span {opacity: 1;}
}

// FADE ANIMATION FOR 2 GRAY INFO BOXES (NOT DOWNLOAD BOX)

div.long_1:hover .d_top.orange, 
div.long_2:hover .d_top.orange, 
div.double:hover .d_top.orange {
  background-color: @orangeLight;
  color: #ffffff;
}

div.long_1:hover .d_bottom.orange, 
div.long_2:hover .d_bottom.orange, 
div.double:hover .d_bottom.orange {
  background-color: @orangeLightBorder;
  color: #ffffff;
}

div.long_1:hover .d_top.blue, 
div.long_2:hover .d_top.blue, 
div.double:hover .d_top.blue {
  background-color: @blueLight;
  color: #ffffff;
}

div.long_1:hover .d_bottom.blue, 
div.long_2:hover .d_bottom.blue, 
div.double:hover .d_bottom.blue {
  background-color: @blueLightBorder;
  color: #ffffff;
}

// QUOTE BACKGROUNDS

.r2_top.death_grips {
  background-position: 0 0px; // with quote
  span {background-position: 0 (-1 * @quotePhotoSize * 1);} // on hover over
}

.r2_top.bones_brigade{
  background-position: 0 (-1 * @quotePhotoSize * 2); // with quote
  span {background-position: 0 (-1 * @quotePhotoSize * 3);} // on hover over
}

.r2_top.tim_ferriss {
  background-position: 0 (-1 * @quotePhotoSize * 4); // with quote
  span {background-position: 0 (-1 * @quotePhotoSize * 5);} // on hover over
}

.r2_top.EMT {
  background-position: 0 (-1 * @quotePhotoSize * 6); // with quote
  span {background-position: 0 (-1 * @quotePhotoSize * 7);} // on hover over
}

.r2_top.kaskade {
  background-position: 0 (-1 * @quotePhotoSize * 8); // with quote
  span {background-position: 0 (-1 * @quotePhotoSize * 9);} // on hover over
}

.r2_top.berklee {
  background-position: 0 (-1 * @quotePhotoSize * 10); // with quote
  span {background-position: 0 (-1 * @quotePhotoSize * 11);} // on hover over
}

.r2_top.public_enemy {
  background-position: 0 (-1 * @quotePhotoSize * 12); // with quote
  span {background-position: 0 (-1 * @quotePhotoSize * 13);} // on hover over
}

.r2_top.pixies {
  background-position: 0 (-1 * @quotePhotoSize * 14); // with quote
  span {background-position: 0 (-1 * @quotePhotoSize * 15);} // on hover over
}



