.ferrisWrap {
  width: 390px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 5px;
  overflow: hidden;
  background-color: #5a4c86;
}
.ferris_img {
  width: 390px;
  height: 960px;
  position: absolute;
  left: 0px;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: original;
  -moz-animation-name: original;
  -o-animation-name: original;
  animation-name: original;
}
@-webkit-keyframes original {
  from {
    opacity: 0;
    top: 0px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@-moz-keyframes original {
  from {
    opacity: 0;
    top: 0px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@-o-keyframes original {
  from {
    opacity: 0;
    top: 0px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@keyframes original {
  from {
    opacity: 0;
    top: 0px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.ferris_img:hover {
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -o-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-name: slide;
  -moz-animation-name: slide;
  -o-animation-name: slide;
  animation-name: slide;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes slide {
  0% {
    top: 0px;
  }
  100% {
    top: -1000px;
  }
}
@-moz-keyframes slide {
  0% {
    top: 0px;
  }
  100% {
   top: -1000px;
  }
}
@-o-keyframes slide {
  0% {
    top: 0px;
  }
  100% {
    top: -1000px;
  }
}
@keyframes slide {
  0% {
    top: 0px;
  }
  100% {
    top: -1000px;
  }
}