.ferrisWrap{
  width:390px;
  height:180px;
  position: absolute;
  left:0px;
  top:5px;
  overflow:hidden;
  background-color: rgb(90,76,134);
}
.ferris_img{
  width:390px;
  height:960px;
  position:absolute;
  left:0px;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: original;
  -moz-animation-name: original;
  -o-animation-name: original;
  animation-name: original;
}
@-webkit-keyframes original {
  from{
    opacity:0;
    top:0px;
  }
  to{
    opacity:1;
    top:0px;
  }
}
@-moz-keyframes original {
  from{
    opacity:0;
    top:0px;
  }
  to{
    opacity:1;
    top:0px;
  }
}
@-o-keyframes original {
  from{
    opacity:0;
    top:0px;
  }
  to{
    opacity:1;
    top:0px;
  }
}
@keyframes original {
  from{
    opacity:0;
    top:0px;
  }
  to{
    opacity:1;
    top:0px;
  }
}
.ferris_img:hover{
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -o-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: slide;
  -moz-animation-name: slide;
  -o-animation-name: slide;
  animation-name: slide;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}
@-webkit-keyframes slide {
  from{
    top:0px;
  }
  12%{
    top:-280px;
  }
  25%{
    top:-280px;
  }
  37%{
    top:-542px;
  }
  50%{
    top:-542px;
  }
  63%{
    top:-770px;
  }
  75%{
    opacity:1;
    top:-770px;
  }
  87%{
    opacity:0;
    top:-770px;
  }
  88%{
    top:0px;
  }
  to{
    opacity:1;
  }
}
@-moz-keyframes slide {
  from{
    top:0px;
  }
  12%{
    top:-280px;
  }
  25%{
    top:-280px;
  }
  37%{
    top:-542px;
  }
  50%{
    top:-542px;
  }
  63%{
    top:-770px;
  }
  75%{
    opacity:1;
    top:-770px;
  }
  87%{
    opacity:0;
    top:-770px;
  }
  88%{
    top:0px;
  }
  to{
    opacity:1;
  }
}
@-o-keyframes slide {
  from{
    top:0px;
  }
  12%{
    top:-280px;
  }
  25%{
    top:-280px;
  }
  37%{
    top:-542px;
  }
  50%{
    top:-542px;
  }
  63%{
    top:-770px;
  }
  75%{
    opacity:1;
    top:-770px;
  }
  87%{
    opacity:0;
    top:-770px;
  }
  88%{
    top:0px;
  }
  to{
    opacity:1;
  }
}
@keyframes slide {
  from{
    top:0px;
  }
  12%{
    top:-280px;
  }
  25%{
    top:-280px;
  }
  37%{
    top:-542px;
  }
  50%{
    top:-542px;
  }
  63%{
    top:-770px;
  }
  75%{
    opacity:1;
    top:-770px;
  }
  87%{
    opacity:0;
    top:-770px;
  }
  88%{
    top:0px;
  }
  to{
    opacity:1;
  }
}