@graybg:                #efefef;
@whitebg:               #ffffff;
@sansFontFamily:        'Lekton', sans-serif;
@btpurple:              #7665ac;
@orange:                #db4e49;
@orangeLight:           #e47976;
@orangeLightBorder:     #db4c47;
@orangeBorder:          #ad2521;
@blue:                  #66b3ff;
@blueLight:             #66b3ff;
@blueLightBorder:       #3399ff;
@blueBorder:            #1a8dff;
@grayDark:              #b4b4b4;
@grayLight:             #cccccc;
@purpleLightest:        #bfb9d3;
@purpleLight:           #9184bd;
@purpleDark:            #594c81;
@purpleDarkest:					#3b3356;
@purpleGraphInfo:				#aca2cc;
@boxHeight:             96px;
@borderHeight:          6px;
@grayBotSize:           20px;
@boxPadding:            20px;
@largeBotSize:          100px;
@padding:               4px;
@bodyFontSize:					13px;
@titlePadding:					65px;
@transitionDuration:    500ms;
@quotePhotoSize:        176px;